* {
    margin: 0;
    box-sizing: border-box;
}

.infocard-wrapper {
    background-color: #fff;
    border-radius: 15px;
    width: clamp(100%, 180px, 240px);
    padding: 20px;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

.infocard-wrapper > * {
    padding: 2px 0;
}

.infocard-time {
    font-weight: bold;
}

.infocard-course {
    color: #666;
}

.infocard-wrapper:hover {
    background-color: #fbfbfb;
    cursor: pointer;
    transform: translateY(-2px)
}